if nix flake show &> /dev/null; then
  echo "-----------------------------------------"
  echo "Launching DevShell (flake)"
  echo "-----------------------------------------"
  use flake .
else
  echo "---------------------------------------------"
  echo "Launching DevShell (nix-shell)"
  echo "---------------------------------------------"
  use nix
fi
