/target
/pg
/.env
/.pre-commit-config.yaml
/result
/setup.sh

# Dev dir's
/postgres.log
/.dev_postgres

# ide's
/.idea
/.vscode

# Temps
/scratch.sql
/api-key.txt
/test-assets/
todo.md

# direnv
.direnv/*

