/target
/.env
/.pre-commit-config.yaml
/result
/setup.sh

# PG stuff
/pg
/postgres.log
/.dev_postgres
/scratch.sql

# ide's
/.idea
/.vscode

# Temps
/api-key.txt
/test-assets/
todo.md

# direnv
.direnv/*

